<app-api-query-form [areaNames]="areaNames" (areaSelected)="onSelectArea($event)"
                    [variableNames]="variableNames" (variableSelected)="onSelectVariable($event)"
                    [sectionNames]="sectionNames" (sectionSelected)="onSelectSection($event)"
                    [periodNames]="periodNames" (periodSelected)="onSelectPeriod($event)"
                    [yearRange]="yearRange" (yearSelected)="onSelectYear($event)"
                    (querySubmitted)="onSubmit()">
</app-api-query-form>

<app-data-presentation [variableValues]="variableValues"
                       [variableMeta]="variableMeta"
                       [sectionPositions]="variableSectionPositions"
                       [waysOfPresentation]="waysOfPresentation"></app-data-presentation>
