<div class="w-full relative">
  <div class="flex border-2"
       [class.border-red-500]="!options.includes(selectedValue) && selectedValue">
    <input type="text" class="w-full p-1 border border-gray-300"
           [placeholder]="placeholder"
           (focusin)="isListHidden=false"
           (ngModelChange)="filterOptions($event)"
           [ngModel]="selectedValue">
    <button (click)="onClick()" class="bg-white border border-gray-300 leading-[100%] hover:bg-gray-200 cursor-pointer">
      <span class="material-symbols-outlined icon-animation" [class.rotate-180]="!isListHidden">
        arrow_drop_down
      </span>
    </button>
  </div>

  <ul class="w-full list-none max-h-60 overflow-auto absolute z-10" [class.hidden]="isListHidden">
    <li *ngFor="let option of displayedOptions" class="w-full">
      <option (click)="onOptionSelect(option)" class="w-full border border-gray-300 mt-[-1px] bg-white p-1 text-lg block hover:bg-gray-200 cursor-pointer whitespace-pre-wrap">
        {{option}}
      </option>
    </li>
  </ul>
</div>
